Source: wasta-winetricks-corefonts
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-winetricks-corefonts

Package: wasta-winetricks-corefonts
Architecture: all
Depends: wasta-winetricks, ${misc:Depends}
Description: Bundled corefonts for winetricks
 Bundled corefonts winetricks cache for use by various Wasta-Wine packages.
